{% extends "admin/base.html" %}
{% block title %}Event{% endblock %}

{% block content %}
    <div class="container">
        <h3>Event</h3>
        <div class="col-4">
            <form action="event.php" method="POST">
                <input type="hidden" name="id" value="{{ event.id }}">
                <div class="form-group">
                    <label for="name">Eventnamn</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Ange eventnamn" required autocomplete="off" value="{{ event.name }}">
                </div>
                <div>
                    <label for="start_date">Starttid</label>
                    <input class="form-control" type="datetime-local" name="start_date" id="start_date" required value="{{ event.start_date|replace({' ' : 'T'}) }}">
                </div>
                <div>
                    <label for="end_time">Sluttid</label>
                    <input class="form-control" type="datetime-local" name="end_time" id="end_time" required value="{{ event.end_date|replace({' ': 'T'}) }}">
                </div>
                <div class="pt-3">                
                    <input class="btn btn-warning" type="submit" name="action" value="Uppdatera">
                    <input class="btn btn-danger" type="submit" name="action" value="Radera">
                </div>
            </form>
        </div>
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        <h4>Importera</h4>
        <div class="col-4">
            <form action="event.php" method="POST">
                <div class="form-group">
                    <label for="">Vitlista. Kommaseparerade klasser. Lämna fältet tomt om du vill inkludera alla elever.</label>
                    <input class="form-control" name="whitelist" type="text" placeholder="Ange klasser">
                </div>
                <input type="hidden" name="id" value="{{ event.id }}">
                <input class="btn btn-dark" type="submit" name="action" value="Lägg till användare">
            </form>
        </div>
        <h4>Deltagare</h4>
        {% if not users %}
            <p>
                Det finns inga användare registrerade på eventet.
            </p>
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Klass</th>
                        <th>Hemlis</th>
                        <th>?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.class }}</td>
                            <td>{{ user.secret }}</td>
                            <td>
                                <form action="event.php" method="post">
                                    <input type="hidden" name="userId" value="{{ user.id }}">
                                    <input type="hidden" name="eventId" value="{{ event.id }}">
                                    <input class="btn btn-danger" type="submit" name="action" value="Ta bort">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}