{% extends "admin/base.html" %}
{% block title %}Event{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>Event</h3>
            <form action="events.php" method="POST">
                <input type="hidden" name="id" value="{{ event.id }}">
                <div class="form-group">
                    <label for="name">Eventnamn</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Ange eventnamn" required autocomplete="off" value="{{ event.name }}">
                </div>
                <div>
                    <label for="start_date">Starttid</label>
                    <input class="form-control" type="datetime-local" name="start_date" id="start_date" required value="{{ event.start_date|replace({' ' : 'T'}) }}">
                </div>
                <div>
                    <label for="end_date">Sluttid</label>
                    <input class="form-control" type="datetime-local" name="end_date" id="end_date" required value="{{ event.end_date|replace({' ': 'T'}) }}">
                </div>
                <div>
                    <label for="display_date">Visningstid</label>
                    <input class="form-control" type="datetime-local" name="display_date" id="display_date" required value="{{ event.display_date|replace({' ': 'T'}) }}">
                </div>
                <div class="pt-3">                
                    <input class="btn btn-warning" type="submit" name="action" value="Uppdatera">
                    <input class="btn btn-danger" type="submit" name="action" value="Radera">
                    {% if users %}
                        <input class="btn btn-dark" type="submit" name="action" value="Tilldela mål">
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="col">
                {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            <h4>Importera</h4>
            <form action="events.php" method="POST">
                <div class="form-group">
                    <label for="">Vitlista. Kommaseparerade klasser. Lämna fältet tomt om du vill inkludera alla elever.</label>
                    <input class="form-control" name="whitelist" type="text" placeholder="Ange klasser" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="">Vitlista för elever. CSV igen.</label>
                    <input class="form-control" name="whitelistStudents" type="text" placeholder="Ange elever" autocomplete="off">
                </div>
                <input type="hidden" name="id" value="{{ event.id }}">
                <input class="btn btn-dark" type="submit" name="action" value="Lägg till användare">
            </form>
        </div>
    </div>
    <h4 class="mt-4">Deltagare ({{ users|length }})</h4>
    {% if not users %}
        <p>
            Det finns inga användare registrerade på eventet.
        </p>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Namn</th>
                    <th>Klass</th>
                    <th>Hemlis</th>
                    <th>Mål</th>
                    <th>Vid liv</th>
                    <th>?</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.class }}</td>
                        <td>{{ user.secret }}</td>
                        {% if user.target != 0 %}
                            
                            <td>{{ userMap[user.target] }} ({{ user.target }})</td>
                        {% else %}
                            <td><p class="badge badge-danger">Odefinerat</p></td>
                        {% endif %}
                        <td>{{ user.alive == '1' ? 'Ja' : 'Nej' }}</td>
                        <td>
                            <form action="events.php" method="post">
                                <input type="hidden" name="userId" value="{{ user.id }}">
                                <input type="hidden" name="eventId" value="{{ event.id }}">
                                <input class="btn btn-danger" type="submit" name="action" value="Ta bort">
                            </form>
                            <a class="btn btn-info" href="player.php?userId={{ user.id }}&eventId={{ event.id }}">Visa</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}