{% extends "admin/base.html" %}
{% block title %}( :{% endblock %}

{% block content %}
    <h1>Admin</h1>

    <h3>Konfiguration</h3>
    <form action="index.php" method="post">
        <h5>Databas: {{ database }}</h5>
        <div class="form-group">
            <label for="ga_track_id">Google track id</label>
            <input class="form-control" type="text" name="ga_track_id" id="ga_track_id" value="{{ config.ga_track_id }}">
        </div>
        <div class="form-group">
            <label for="webhook">Discord webhook</label>
            <input class="form-control" type="text" name="webhook" id="webhook" value="{{ config.webhook }}">
        </div>
        <button class="btn btn-secondary" type="submit">Spara</button>
    </form>
{% endblock %}
