{% extends "admin/base.html" %}
{% block title %}Användare{% endblock %}


{% block content %}
    <div class="container">
        <h1>Admin</h1>

        <h4>Användare</h4>

        <form action="user.php" method="post">
            <div class="form-group">
                <label for="username">Användarnamn</label>
                <input class="form-control" type="text" name="username" id="username" value="{{ session.qr.username }}" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Lösenord</label>
                <input class="form-control" type="password" name="password" id="password" required>
            </div>
            <input class="btn btn-dark" type="submit" name="action" value="Importera alla användare">
        </form>

        <h3>Användare ({{ users|length }})</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Användarnamn</th>
                    <th>Namn</th>
                    <th>Klass</th>
                    <th>Roll</th>
                    <th>Registrerad datum</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="user.php?id={{ user.id }}">{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.class }}</td>
                        <td>{{ user.is_admin ? 'Admin' : 'Användare' }}</td>
                        <td>{{ user.created_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

