{% extends "base.html" %}

{% block title %}
    Hem
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron bg-dark">
                <h3 class="display-4">Om leken</h3>
                <p>
                    QRTag är en digital version av leken "Killer Game" och ett bra sätt att möta andra elever på skolan.
                </p>
                <p>
                    Leken går ut på att alla har har ett mål som man ska "tagga". Du taggar ditt mål genom att lägga handen på dens axel och säga "tag". Sedan ska du scanna personens QR-kod för att få poäng. När du taggar någon så ärver du den personens mål medans ditt mål är ute ur spelet.
                </p>
                <h3>Regler</h3>
                <ul>
                    <li>Du får inte använda våld</li>
                    <li>Du får endast tagga någon som inte är på lunch eller lektion</li>
                    <li>Du får använda vilken metod som helst för att hitta ditt mål</li>
                </ul>
                <h3>Priset</h3>
                <p>Personen som klarar sig längst och personen som taggar flest mål vinner. Priset består av heder och ett SSIS-starterpack som kommer att hjälpa dig genom terminen.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron bg-dark">
                {% block jumbo %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}