{% extends "info_base.html" %}

{% block title %}
    Nedräkning
{% endblock title %}

{% block jumbo %}
    <h1>Snart börjar det!</h1>
    <p>Ditt nästa QRKill-event börjar om <span id="countdown"></span>!</p>

    <script>
        var countDownDate = {{ date(event.start_date).timestamp * 1000 }};
        const yeet = function() {
        
            var now = new Date().getTime();

            var distance = countDownDate - now;
        
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
            var stringyboi = days == 0 ? '' : days + "d ";
            stringyboi += days == 0 && hours == 0 ? '' : hours + "h ";
            stringyboi += days == 0 && hours == 0 && minutes == 0 ? '' : minutes + "m "
            document.getElementById("countdown").innerHTML = stringyboi + seconds + "s";
            if (distance < 1) {
                window.location = window.location;
            }
        }
        yeet();
        setInterval(yeet, 1000);
        
    </script>
{% endblock jumbo %}