<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@master/qrcode.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
</head>
<body>
    <h1>QRKill</h1>
    <a href="logout.php">Logga ut</a>
    <noscript>
        QRKill behöver JavaScript för att fungera, vänligen aktivera det och ladda om sidan.
    </noscript>
    <div>
        Ditt mål heter <span id="targetName">{{ target.name }}</span> och går i <span id="targetClass">{{ target.class }}</span>
    </div>
    <div id="qrcode"></div>
    <p>
        Din kod är <span id="secret">{{ event.secret }}</span>. Ange den om din mördare inte kan skanna QR-koder.
    </p>    
    
    <video id="preview" hidden></video>
    <div id="manual" hidden>
        <p>
            Det verkar som om du inte kan använda kameran för att skanna QR-koder. Vänligen ange koden manuellt istället.
        </p>
        <input type="text" id="code" placeholder="Ange kod" required>
        <button onclick="submitCode()">Mörda</button>
    </div>
    <script src="static/main.js"></script>
</body>
</html>