{% extends "base.html" %}

{% block title %}Spel{% endblock title %}

{% block head %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@master/qrcode.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron bg-dark">
                {% if player.target_name %}
                    <h3 class="display-4">Ditt mål</h3>
                    Förnamn: {{ player.target_name|split(' ', 2)[0] }}<br>
                    Efternamn: {{ player.target_name|split(' ', 2)[1] }}<br>
                    Klass: {{ player.target_class }}<br>
                    <hr class="my-4 bg-white">
                    <video class="embed-responsive" id="preview" hidden></video>
                    <div id="manual" hidden>
                        <p>
                            Din webbläsare har inte stöd för att skanna QR-koder. Vänligen ange koden manuellt istället.
                        </p>
                        <div class="row">
                            <div class="col">   
                                <input class="form-control" type="text" id="code" placeholder="Ange kod" required autocomplete="off">
                            </div>
                            <button class="btn btn-secondary" onclick="submitCode()">Mörda</button>
                        </div>
                    </div>
                {% else %}
                    <p>
                        Du har inte tilldelats ett mål eftersom du gick med efter att QRKill började. Du kommer att automatiskt tilldelas ett mål när någon annan mördas.
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron bg-dark">
                <h3 class="display-4">Din information</h3>
                Förnamn: {{ session.qr.name|split(' ', 2)[0] }}<br>
                Efternamn: {{ session.qr.name|split(' ', 2)[1] }}<br>
                Klass: {{ session.qr.class }}<br>
                Poäng: {{ kills|length }}<br>
                Kod: <span id="secret">{{ player.secret }}</span>
                <hr class="my-4 bg-white">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-auto pt-4 pb-4 pr-5 pl-5 bg-light">
                        <div id="qrcode" class="row d-flex justify-content-center"></div>
                    </div>
                    <div class="col"></div>
                </div>
                {% if victims %}
                    <hr class="my-4 bg-white">
                    Dina offer:
                    <table class="table table-dark">
                        <tbody>
                            {% for victim in victims %}
                                <tr>
                                    <td>{{ victim.name }}</td>
                                    <td>{{ victim.class }}</td>
                                    <td>{{ victim.created_date|date('m/d H:i') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div> 

    <div class="modal text-dark" id="killModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Grattis!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Du dödade ditt mål! Du kommer nu tilldelas ett nytt. Lycka till!</p>
                </div>
                <div class="modal-footer">
                    <button onClick="window.location.reload();" type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal text-dark" id="failModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hmmm...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="errorMessage" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button onClick="window.location.reload();" type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                </div>
            </div>
        </div>
    </div>

    <script src="static/main.js"></script>
{% endblock %}