{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@master/qrcode.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron bg-dark">
                <h3 class="display-4">Ditt mål</h3>
                Förnamn: {{ target.name|split(' ', 2)[0] }}<br>
                Förnamn: {{ target.name|split(' ', 2)[1] }}<br>
                Klass: {{ target.class }}<br>
                <hr class="my-4 bg-white">
                <video class="embed-responsive" id="preview" hidden></video>
                <div id="manual" hidden>
                    <p>
                        Din webbläsare har inte stöd för att skanna QR-koder. Vänligen ange koden manuellt istället.
                    </p>
                    <div class="row">
                        <div class="col">   
                            <input class="form-control" type="text" id="code" placeholder="Ange kod" required>
                        </div>
                        <button class="btn btn-secondary" onclick="submitCode()">Mörda</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron bg-dark">
                <h3 class="display-4">Din information</h3>
                Förnamn: {{ session.qr.name|split(' ', 2)[0] }}<br>
                Efternamn: {{ session.qr.name|split(' ', 2)[1] }}<br>
                Klass: {{ session.qr.class }}<br>
                Poäng: {{ kills }}<br>
                Kod: <span id="secret">{{ event.secret }}</span>
                <hr class="my-4 bg-white">
                <div id="qrcode" class="mt-4 row d-flex justify-content-center"></div>
            </div>
        </div>
    </div> 

    <div class="modal text-dark" id="killModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Grattis!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Du "dödade" ditt mål! Du kommer nu att ärva den personens mål. Lycka till!</p>
                </div>
                <div class="modal-footer">
                    <button onClick="window.location.reload();" type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                </div>
            </div>
        </div>
    </div>

    <script src="static/main.js"></script>
{% endblock %}