{% extends "base.html" %}

{% block title %}
    Hem
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron bg-dark">
                <h3 class="display-4">Om leken</h3>
                <p>
                    QRKill är en digital version av leken "Killer Game" och ett bra sätt att möta andra elever på skolan.
                </p>
                <p>
                    Leken går ut på att alla har har ett mål som man ska "döda". Du dödar ditt mål genom att lägga handen på dens axel och säga "kill". Sedan ska du scanna personens QR-kod för att registrera ditt mord. När du dödar någon så ärver du den personens mål medans ditt offer är ute ur spelet.
                </p>
                <h3>Regler</h3>
                <ul>
                    <li>Du får inte använda våld</li>
                    <li>Du får endast döda någon som inte är på lunch eller lektion</li>
                    <li>Du får använda vilken metod som helst för att hitta ditt mål</li>
                </ul>
                <h3>Priset</h3>
                <p>Personen som överlever längst och personen som dödar flest mål vinner. Priset består av heder och ett SSIS-starterpack som kommer att hjälpa dig genom terminen...</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron bg-dark">
                {% block jumbo %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}