<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% if error %}
        {{ error }}
    {% endif %}

    <p>Du loggar in med ditt skolkonto.</p>
    <form action="login.php" method="post">
        <input type="text" name="username" id="username" placeholder="Ange användarnamn" required>
        <input type="password" name="password" id="password" placeholder="Ange lösenord" required>
        <button type="submit">Logga in</button>
    </form>

</body>
</html>