{% extends "info/info_base.html" %}
{% block jumbo %}
    <h3 class="display-4">Logga in</h3>
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <p>Du loggar in på QRTag med ditt skolkonto (samma lösenord som till datorn).</p>
    <form id="login" action="login.php" method="post">
        <div class="form-group">
            <label for="username">Användarnamn</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="Ange användarnamn" required>
        </div>
        <div class="form-group">
            <label for="password">Lösenord</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Ange lösenord" required>
        </div>
        <button class="btn btn-secondary" type="submit">Logga in</button>
    </form>
{% endblock %}