{% extends "base.html" %}


{% block title %}Poängtavla{% endblock title %}

{% block header %}
    <div class="row p-4">
        <div class="col">
            <h1 class="">QRKill</h1>
        </div>
        <div class="col">
            
            {% if session.qr.id %}
                <a class="btn btn-dark float-right ml-1" href="logout.php">Logga ut</a>
            {% endif %}
            <a class="btn btn-dark float-right ml-1" href="game.php">Spel</a>
            {% if session.qr.is_admin == '1'%}
                <a class="btn btn-danger float-right" href="admin">Admin</a>
            {% endif %}
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="jumbotron bg-dark">
            {% if not event %}
            <h1>
                Det finns inget spel att visa poängtavla för!
            </h1>
        {% else %}
        <div class="d-flex justify-content-center">
            <h1>QRKill - {{ event.name }}</h1><br>
        </div>
        <div class="d-flex justify-content-center">
            <h3 id="countdown">Avslutas {{ event.end_date }}</h3>
        </div>
        <script>
            var countDownDate = {{ date(event.end_date).timestamp * 1000 }};
            const updateCountdown = function() {
            
                var now = new Date().getTime();

                var distance = countDownDate - now;
            
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
                var stringyboi = days == 0 ? '' : days + "d ";
                stringyboi += days == 0 && hours == 0 ? '' : hours + "h ";
                stringyboi += days == 0 && hours == 0 && minutes == 0 ? '' : minutes + "m "
                document.getElementById("countdown").innerHTML = stringyboi + seconds + "s ";
                if (distance < 1) {
                clearInterval(interval);
                document.getElementById("countdown").innerHTML = "Avslutat!";
                }
            }

            updateCountdown();
            var interval = setInterval(updateCountdown, 1000);
            
        </script>
                
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Klass</th>
                        <th>Poäng</th>
                        <th>I livet</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not users %}
                        <tr>
                            <td colspan="4"><center>Ingen har blivit mördad än ) :</center></td>
                        </tr>
                    {% else %}
                        {% for user in users %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.class }}</td>
                                <td>{{ user.score }}</td>
                                <td>{{ user.alive == '1' ? 'Ja' : 'Nej' }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}